/* CSS reset for default styling */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #655a56;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1.1fr 2fr 1.1fr;
  grid-template-areas: "head head head" "list recipe shopping";
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f3;
  position: relative;
}

.header__logo {
  width: 13rem;
  margin-left: 2rem;
  /* height: 4.5rem; */
}

.search {
  position: relative;
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.input__validation {
  display: block;
  position: absolute;
  font-family: inherit;
  color: #e4564c;
  font-style: oblique;
  font-size: 1.5rem;
  top: 5rem;
  left: 8.3rem;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1.7rem;
  color: inherit;
  width: 30rem;
}

.search__field:focus {
  outline: none;
}

.search__field::placeholder {
  color: #dad0cc;
}

.btn,
.btn-small,
.btn-small:link,
.btn-small:visited {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
}

.btn:focus,
.btn-small:focus {
  outline: none;
}

.search__btn {
  padding: 1.5rem 3rem;
}

.search__btn:hover {
  cursor: pointer;
}

.fa-search {
  margin-right: 1rem;
  font-size: 1.7rem;
}

/* infinite spin animation for loading */
.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-spinner {
  margin-top: 3rem;
  text-align: center;
}

.spinner-icon {
  /* font-size: 4rem;
  color: #f48982; */
  width: 6rem;
}

.likes {
  position: relative;
  align-self: stretch;
  padding: 0;
}

.likes__field {
  cursor: pointer;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.3s;
}

.likes__field:hover {
  background-color: #f2efee;
}

.likes__panel:hover,
.likes__field:hover + .likes__panel {
  visibility: visible;
  opacity: 1;
}

.fa-heart {
  font-size: 3rem;
  color: #c4c4c4;
}

.fa-heart.active {
  color: #f48982;
}

.likes__panel {
  position: absolute;
  right: 0;
  top: 10rem;
  z-index: 10;
  padding: 2rem 0;
  width: 34rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.empty__favorite {
  text-align: center;
  font-size: 1.5rem;
  color: #c4c4c4;
}

.delete__likes {
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 19rem;
  cursor: pointer;
  transition: all 0.3s;
}

.delete__likes:hover {
  transform: scale(1.03);
}

.delete__likes .fa-trash {
  margin-right: 1rem;
}

.results {
  padding: 3rem 0;
}

.result__none {
  text-align: center;
  color: #f48982;
  font-size: 2rem;
}

.result__list,
.likes__list {
  list-style: none;
}

.results__link:link,
.results__link:visited,
.likes__link:link,
.likes__link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.results__link:hover,
.likes__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}

.result__link--active,
.likes__link--active {
  background-color: #f9f5f3;
  /* background-color: #838383; */
}

.results__fig,
.likes__fig {
  flex: 0 0 5.5rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.5rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}

.results__fig::before,
.likes__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.4;
}

.results__fig img,
.likes__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.results__name,
.likes__name {
  font-size: 1.3rem;
  color: #f59a83;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.results__author,
.likes__author {
  font-size: 1.1rem;
  color: #968b87;
  text-transform: uppercase;
  font-weight: 400;
}
.results__pages,
.likes__pages {
  margin-top: 3rem;
  padding: 0 3rem;
}
.results__pages::after,
.likes__pages::after {
  content: "";
  display: table;
  clear: both;
}

.results__pages ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.results__pages li {
  display: flex;
  border: 1.2px solid #f59a83;
  margin: 0 0.2rem;
  width: 4rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.results__pages li:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
}

.results__pages a {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: #f59a83;
}

.results__pages li.active {
  background-color: #f59a83;
}
.results__pages a.active {
  color: #fff;
}

/* Recipe Page */

.recipe {
  background-color: #f9f5f3;
  border-top: 1px solid #fff;
}

.recipe__fig {
  height: 30rem;
  position: relative;
  transform: scale(1.04) translateY(-1px);
  transform-origin: top;
}

.recipe__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.35;
}

.recipe__img {
  width: 100%;
  display: block;
  height: 100%;
  /* background-position: center;
  background-size: cover; */
  object-fit: cover;
}

.recipe__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 2.75rem;
  text-transform: uppercase;
  width: 70%;
  line-height: 1.95;
  text-align: center;
}

.recipe__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
}

.recipe__details {
  display: flex;
  align-items: center;
  padding: 8rem 3rem 3rem 3rem;
}

.recipe__info {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.recipe__info:not(:last-child) {
  margin-right: 4rem;
}

.recipe__info-icon {
  /* height: 2rem;
  width: 2rem; */
  padding-left: 2rem;
  fill: #f59a83;
  color: #f59a83;
  margin-right: 1rem;
}

.recipe__info-data {
  margin-right: 0.4rem;
  font-weight: 600;
}

.recipe__info-buttons {
  display: flex;
  margin-left: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.4s;
}
.recipe:hover .recipe__info-buttons {
  visibility: hidden;
  opacity: 1;
  transform: translateY(0);
}

.recipe__love {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  margin-left: auto;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe__love:hover {
  transform: scale(1.07);
}
.recipe__love:focus {
  outline: none;
}
.recipe__love .fa-heart {
  color: #fff;
  /* height: 2.75rem;
  width: 2.75rem;
  */
  fill: #fff;
}
.recipe__ingredients {
  padding: 4rem 5rem;
  font-size: 1.5rem;
  line-height: 1.4;
  background-color: #f2efee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  list-style: none;
  margin-bottom: 3rem;
}
.recipe__item {
  display: flex;
}

.recipe__btn {
  cursor: pointer;
  padding: 15px 20px;
}

.recipe__btn .fa-shopping-cart {
  margin-right: 1rem;
  font-size: 1.6rem;
}

.recipe__icon {
  /* height: 1.8rem;
  width: 1.8rem;
  fill: #f59a83;
  border: 1px solid #f59a83;
  border-radius: 50%; */
  color: #f59a83;
  font-size: 1.8rem;
  padding: 2px;
  margin-right: 1rem;
  flex: 0 0 auto;
  margin-top: 0.1rem;
}

.recipe__count {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}

.recipe__directions {
  padding: 4rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe__directions-text {
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  margin-bottom: 3rem;
  color: #968b87;
}

.recipe__btn {
  padding: 13px 20px;
}

.recipe__directions a {
  font-size: 1.3rem;
}

.recipe__directions .fa-location-arrow {
  font-size: 1.4rem;
  transform: rotate(45deg);
  margin-left: 1rem;
}

.recipe__by {
  font-weight: 700;
}

.shopping {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
}
.shopping__list {
  list-style: none;
  max-height: 77rem;
  overflow: scroll;
}
.shopping__item {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  border-bottom: 1px solid #f2efee;
  position: relative;
}
.shopping__count {
  flex: 0 0 7.5rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid #f2efee;
  border-radius: 3px;
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.shopping__count input {
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  width: 4rem;
  border-radius: 3px;
}
.shopping__count input:focus {
  outline: none;
  background-color: #f2efee;
}
.shopping__count p {
  font-size: 1.2rem;
}
.shopping__description {
  flex: 1;
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-right: 1.5rem;
}
.shopping__delete {
  margin-top: 0.5rem;
  position: absolute;
  right: 0;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    #fff 40%,
    #fff 100%
  );
  width: 3.75rem;
  padding-left: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.shopping__item:hover .shopping__delete {
  opacity: 1;
  visibility: visible;
}

/* Confirmation Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* right: 0;
  bottom: 0; */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.confirm__modal {
  position: relative;
  font-size: 1.6rem;
  width: 50rem;
  position: fixed;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
}

.confirmation-text {
  padding: 15px;
  border-radius: 3px 3px 0 0;
  /* background-color: #fff; */
}

.btn-group-modal {
  display: flex;
  border-radius: 0 0 3px 3px;
  background-color: #f9fafb;
  padding: 14px;
  justify-content: flex-end;
  border-top: 1px solid rgba(219, 219, 219, 0.966);
}

.btn-group-modal button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
  padding: 1rem;
  width: 8rem;
  background-color: black;
  color: #f2efee;
  border-radius: 3px;
  font-weight: 700;
}

.btn-group-modal .btn-cancel {
  background-color: #e0e1e2;
  color: rgba(0, 0, 0, 0.6);
}
.btn-group-modal .btn-ok {
  background-color: #fd9c83;
  color: #fff;
}
